/* For mobile phones: */
.title-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
}

.title-container > .title {
  margin: 0;
}

.slide-container {
  height: 30vh;
  user-select: none;
}
.slide-image {
  width: auto;
  height: 100%;
  object-fit: cover;
}
.list-image {
  height: 100% !important;
  object-fit: cover;
  cursor: pointer;
}
.list-item-title {
  cursor: pointer;
}
.legend {
  cursor: pointer;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card h1 {
  font-size: 3rem;
  background-color: white;
  border-radius: 25px;
  padding: 12px;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .slide-container {
    height: 400px;
  }
}
